.drawer {
  &-base {
    display: flex !important;
    width: 220px !important;
    // height: 100vh;
    padding: 60px 24px !important;

    border-radius: 0 !important;
    border: 1px solid #2b3139 !important;
    background: #181a1f !important;
  }
  &-backdrop {
  }
  &-wrapper {
  }
  &-header {
  }
  &-body {
    padding: 0 !important;
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 40px !important;
    flex-shrink: 0 !important;
  }
  &-footer {
  }
  &-close-button {
  }
}
